@page "/counter"
@rendermode InteractiveServer

<EditForm Model="@_my">
    <div class="form-group mb-3">
        <label for="count">Количество:</label>
        <InputNumber id="count" class="form-control" @bind-Value="_my.Count" />
    </div>

    <div class="form-group mb-3">
        <label for="price">Цена:</label>
        <InputNumber id="price" class="form-control" @bind-Value="_my.Price" />
    </div>
</EditForm>

@code
{
    private readonly MyModel _my = new MyModel();
    
    public class MyModel
    {
        public int Count { get; set; }
        public decimal Price { get; set; }
    }
}
